############################
# Build folders
############################
build/
cmake-build-*/
Debug/
Release/
out/

############################
# CMake
############################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

############################
# Compiled objects
############################
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.a
*.so
*.d
*.su

############################
# STM32CubeMX generated
############################
*.launch

############################
# VS Code
############################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

############################
# macOS
############################
.DS_Store

############################
# Logs
############################
*.log

############################
# Temporary files
############################
*.tmp
*.swp
*~

############################
# Python (якщо використовуєш scripts)
############################
__pycache__/
*.pyc

############################
# CLion / JetBrains (якщо відкриєш)
############################
.idea/

############################
# STLink debug
############################
*.stlink