# OS
.DS_Store
Thumbs.db

# JetBrains
.idea/
*.iml

# VS Code
.vscode/*.log
.vscode/ipch

# CMake
**/build/
**/cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/compile_commands.json
**/Makefile

# Binaries / libs
**/*.o
**/*.obj
**/*.a
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.elf
**/*.bin
**/*.hex
**/*.map
**/*.list

# STM32 / CubeIDE / generated build outputs
**/Debug/
**/Release/
**/.settings/
**/.mxproject
**/*.launch

# Logs
**/*.log

# Python
**/__pycache__/
**/*.pyc
**/.venv/

# Temporary files
**/*.tmp
**/*.swp

*.stlink
stm32_project/.clangd
stm32_project/.mxproject
stm32_project/.settings/bundles-lock.store.json
stm32_project/.settings/bundles.store.json
stm32_project/.settings/ide.store.json
stm32_project/.vscode/c_cpp_properties.json
